@font-face {
    font-family: LethalCompany;
    src: url(../fonts/3270-Regular.ttf);
}

@font-face {
    font-family: WeatherIcons;
    src: url(../fonts/Weather-Icons.ttf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: LethalCompany, Arial, sans-serif;
    background-color: rgb(121, 121, 121);
}

.hidden {
    visibility: hidden;
}

.collapse {
    visibility: collapse;
}

custom-overlay {
    height: 75px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
}

.item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
}

.size-container {
    height: 0;
    visibility: hidden;
}

.grow {
    flex: 1 1 auto;
}

.item p {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    white-space: nowrap;
}

.icon {
    font-family: WeatherIcons !important;
    font-weight: normal !important;
}
